*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
firmware/reflex_trainer/build/
firmware/reflex_trainer/sdkconfig.old
/build
/captures
.externalNativeBuild
.cxx
local.properties
